{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    {% if errors %}
        <div>{{ errors.messageKey|trans(errors.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('connexion_security') }}" method="post">

        <h1 class="h3 mb-3 font-weight-normal">Se connecter</h1>
        <label for="inputEmail" class="sr-only">Adresse mail : </label>
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
        <label for="inputPassword" class="sr-only">Mot de passe : </label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="mot de passe" required>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button class="btn btn-lg btn-primary" type="submit">Connexion</button>
    </form>
{% endblock %}
