{% extends 'administration/base.html.twig' %}

{% block title %}Adherents{% endblock %}

{% block specification %}
    Ajouter un créneau
{% endblock %}

{% block body %}
    {{ form_start(form) }}

    <button>Ajouter</button>
    {{ form_end(form) }}

{% endblock %}