{% extends 'administration/base.html.twig' %}

{% block title %}Adherents{% endblock %}

{% block specification %}
    Ajouter un créneau
{% endblock %}

{% block body %}

    {{ form_start(form) }}

    <button>Ajouter</button>
    <div>
        {% if err is defined and err is not null %}
            <span style="color:red"> {{ err }} </span>
        {% else %}
            Pas d'erreur
        {% endif %}
    </div>
    {{ form_end(form) }}

{% endblock %}