{% extends 'base.html.twig' %}

{% block title %}Formulaire d'inscription !{% endblock %}

{% block body %}

    <div class="well">
        {{ form(formOne) }}
    </div>
    <p>Second formulaire</p>
    <div class="well">
        {{ form(formTwo) }}
    </div>

{% endblock %}
