<div class="modal fade" id="modalReglement" tabindex="-1" role="dialog"
     aria-labelledby="modalReglementLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalReglementLabel">Réglement intérieur</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6>Les documents à fournir pour l’inscription sont les suivants : </h6>
                <ul>
                    <li>Un certificat médical de non contre-indication à la pratique de la
                        gymnastique de moins de 3 mois (sauf pour les
                        renouvellements)**
                    </li>
                    <li>La fiche d’inscription dûment remplie</li>
                    <li>Le règlement total de la cotisation (possibilité d’établir trois
                        chèques à débit différé)
                    </li>
                    <li>Le règlement du forfait d’engagement en compétitions (pour les
                        groupes
                        compétitifs et Teamgym)
                    </li>
                    <li>Envoyer une photo par mail au cep.gymnastique@gmail.com (en
                        précisant
                        les nom, prénom et le groupe)
                    </li>
                    <li>Le bulletin N°2 Allianz fourni par le club le jour de
                        l’inscription
                    </li>
                </ul>
                <br/>
                <b>Séance d’essai : </b>
                <p>Chaque gymnaste a droit à une séance d’essai gratuite sous réserve de
                    présentation d’un certificat médical. A l’issue
                    de cette séance, le dossier devra impérativement être constitué.</p>
                <br/>
                <b>En cas d’abandon, aucun remboursement ne sera effectué.</b>
                <p> Pour
                    information, les assurances partenaires de la FFGym proposent une
                    assurance « Interruption Abonnement Sportif » (voir modalités sur le
                    site de la FFGym)</p>
                <br/>
                <b>Aux parents ou responsables des adhérents mineurs :</b>
                <p>Les parents
                    ou responsables des enfants doivent s’assurer de la présence des
                    éducateurs du club et du déroulement effectif de l’entrainement avant de
                    déposer leur enfant. Les parents doivent également
                    récupérer leur enfant dans la salle dès la fin de l’entrainement. Le
                    club décline toute responsabilité en cas d’accident en dehors des
                    horaires d’entrainement. Toutes les informations à destination des
                    membres du club ne sont pas données par voie postale. Elles sont
                    transmises par affichage sur les panneaux réservés à cet effet dans la
                    salle, par mail et sur le site internet : www.cep-gymnastique.com.</p>
                <br/>
                <b>Hygiène :</b>
                <p>Pour des raisons d’hygiène, les gymnastes doivent
                    porter des chaussures (tongs, claquettes, chaussures de piscine, hors
                    chaussons de gym) pour se déplacer dans les couloirs et dans les
                    toilettes, et les retirer pour marcher sur les tapis de gymnastique.</p>
                <br/>
                <b>Périodes de congés scolaires :</b>
                <p>Les entrainements ne sont assurés
                    que pendant les périodes scolaires et sont donc interrompus pendant
                    les vacances scolaires. Des stages seront mis en place pendant les
                    vacances scolaires. Tenues : Pour les compétitions, les gymnastes
                    doivent avoir la tenue du club. Celui-ci se charge des commandes selon
                    les tailles indiquées dans le formulaire de pré-inscription.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer
                </button>
            </div>
        </div>
    </div>
</div>