{% extends 'base_without_navbar.html.twig' %}

{% block title %}Compétiteurs{% endblock %}

{% block body %}
    <div id="competiteur">
        {% if comp is defined %}
            {{ comp }}
        {% else %}
            <p>Aucuns compétiteurs à inscrire</p>
        {% endif %}
    </div>
{% endblock %}
