{% extends 'administration/layout_admin.html.twig' %}

{% block title %}Plugin
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h3>Initialisation</h3>
            <p id="lbl_init">Aucune initialisation en cours.</p>
            <i class=" fas fa-check-circle fa-10x text-success" id="init_valid" style="display: none;"></i>
            <i class=" fas fa-times-circle fa-10x" id="init_error" style="display:none;"></i>
            <img class="text-danger" id="spinner_init" src="{{ asset('build/spinner.gif') }}" style="display:none;">

            <button hidden id="init"></button>
            <div hidden id="competiteur">
                {% if comp is defined %}
                    {{ comp }}
                {% else %}
                    []
                {% endif %}
            </div>
        </div>
        <div class="col-md-6  col-sm-12">
            <h3>Synchronisation</h3>
            <p id="lbl_sync">Aucune synchronisation en cours.</p>
            <i class=" fas fa-check-circle fa-10x text-success" id="sync_valid" style="display:none;"></i>
            <i class=" fas fa-times-circle fa-10x text-danger" id="sync_error" style="display:none;"></i>


            <img id="spinner_sync" src="{{ asset('build/spinner.gif') }}" style="display:none;">
            <button hidden id="a"></button>
            <button hidden id="sync"></button>
            <div hidden id="ids"></div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    <script>

        $("#init").on("click", function () {
            $("#lbl_init").text("Initialisation en cours.");
            $("#lbl_init").css("color", "black");

            $("#spinner_init").css("display", "inline");
            $("#init_valid").css("display", "none");
            $("#init_error").css("display", "none");

            setTimeout(function () {
                $("#lbl_init").text("Initialisation terminée.");
                $("#spinner_init").css("display", "none");
                $("#init_valid").css("display", "inline");
                $("#lbl_init").css("color", "green");
            }, 2000);


        });

        $("#sync").on("click", function () {
            $("#lbl_sync").text("Synchronisation en cours ...");
            $("#lbl_sync").css("color", "black");
            $("#spinner_sync").css("display", "inline");
            $("#sync_valid").css("display", "none");
            $("#sync_error").css("display", "none");


            $.ajax({
                url: '{{ path('admin_adherent_update_state') }}',
                type: "POST",
                dataType: "json",
                data: {
                    "ids": $("#ids").text()
                },
                complete: function (jqXHR) {
                    switch (jqXHR.status) {
                        case 200:
                            let datas = JSON.parse(jqXHR.responseText);

                            $("#competiteur").text(datas.notSync);

                            $("#a").click();

                            setTimeout(function () {
                                const justSync = JSON.parse(datas.justSync);
                                justSync.forEach(function (user) {
                                    let p = document.createElement("p");
                                    p.textContent = user.firstName + " " + user.lastName + " a été marqué comme inscrit sur GestGym.";
                                    $("#spinner_sync").after(p);
                                })
                                $("#lbl_sync").text("Synchronisation terminée.");
                                $("#lbl_sync").css("color", "green");
                                $("#spinner_sync").css("display", "none");
                                $("#sync_valid").css("display", "inline");

                            }, 2000);

                            break;
                        default:
                            setTimeout(function () {
                                $("#lbl_sync").text("Erreur. Synchronisation annulée.");
                                $("#spinner_sync").css("display", "none");
                                $("#lbl_sync").css("color", "red");
                            }, 2000);


                    }
                }

            })

        });
    </script>
{% endblock %}
