{% extends 'base.html.twig' %}

{% block title %}Page introuvable{% endblock %}

{% block body %}
    <h2>Erreur 403 : Accès refusé</h2>
    <div>
        Retourner sur le site, cliquez
        <a href="{{ path('home') }}">ici</a>
    </div>
{% endblock body %}
