.dtp > .dtp-content > .dtp-date-view > header.dtp-header {
  background: blue;
}

.dtp .p10 > a {
  background: blue;
}

.dtp .dtp-actual-meridien a.selected {
  background: blue;

}

.year-picker-item:hover {
  background: blue;
}

.year-picker-item.active {
  background: blue;

}