<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">



    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}
    {% endblock %}

</head>
<body>
<br/>
<h2 style="text-align:center; text-decoration:underline">
    {% block specification %}

    {% endblock %}
</h2>
<hr/>
<!-- vertical navbar -->

    <div class="col">
        <div class="container-fluid">
            {% block body %}{% endblock %}
        </div>
    </div>
</div>

{{ encore_entry_script_tags('app') }}


{% block javascripts %}

{% endblock %}
</body>
</html>
