{% extends 'base.html.twig' %}

{% block title %}Compétiteurs{% endblock %}

{% block body %}
    <div class="container" style ="margin-top : 30px;">
        <div class ="row">
            <div class="col-md-6 col-sm-12">
            <h2>Initialisation</h2>
                <p id="lbl_init" >Aucune initialisation en cours.</p>
                <i id="init_valid" class=" fas fa-check-circle" style = "display:none;"></i>
                <i id="init_error" class=" fas fa-times-circle" style = "display:none;"></i>
                <img id="spinner_init" src="{{ asset('build/spinner.gif') }}" style = "display:none;">
                
                <button id="init" hidden></button>
                <div id="competiteur" hidden>
                    {% if comp is defined %}
                        {{ comp }}
                    {% else %}
                        <p>Aucuns compétiteurs à inscrire</p>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-6  col-sm-12">
                    <h2>Synchronisation</h2>
                    <p id ="lbl_sync" >Aucune synchronisation en cours.</p>
                    <i id="sync_valid" class=" fas fa-check-circle" style = "display:none;"></i>
                    <i id="sync_error" class=" fas fa-times-circle" style = "display:none;"></i>
        

                    <img id="spinner_sync" src="{{ asset('build/spinner.gif') }}" style = "display:none;" >
                    <button id="a" hidden ></button>
                    <button id="sync" hidden></button>
                    <div id="ids" hidden ></div>
            </div>
        </div>
    </div>
    

 
{% endblock %}

{% block javascripts %}
<script>

    document.getElementById("init").addEventListener("click",function() {
        document.getElementById("lbl_init").textContent = "Initialisation en cours.";
        document.getElementById("lbl_init").style.color = "black";

        document.getElementById("spinner_init").style.display = "inline";
        document.getElementById("init_valid").style.display = "none";
        document.getElementById("init_error").style.display = "none";

        setTimeout(function() {
            document.getElementById("lbl_init").textContent = "Initialisation terminée.";
            document.getElementById("spinner_init").style.display = "none";
            document.getElementById("init_valid").style.display = "inline";
            document.getElementById("lbl_init").style.color = "green";
        },2000);


    });

        document.getElementById("sync").addEventListener("click",function(){
            var timeout1 = false;
            var timeout2 = false;
            document.getElementById("lbl_sync").textContent = "Synchronisation en cours ...";
            document.getElementById("lbl_sync").style.color = "black";
            document.getElementById("spinner_sync").style.display = "inline";
            document.getElementById("sync_valid").style.display = "none";
            document.getElementById("sync_error").style.display = "none";



            $.ajax({
                url:'{{path('admin_adherent_update_state')}}',
                type: "POST",
                dataType: "json",
                data: {
                    "ids": document.getElementById("ids").textContent,
                },
                complete: function(jqXHR, textStatus) {
                    switch (jqXHR.status) {
                        case 200:
                            timeout2 = true;
                            document.getElementById("a").click()

                            if(timeout1 == true){
                                    document.getElementById("lbl_sync").textContent = "Synchronisation terminée.";
                                    document.getElementById("lbl_sync").style.color = "green";
                                    document.getElementById("spinner_sync").style.display = "none";
                                    document.getElementById("sync_valid").style.display = "inline";

                            }
                            break;
                        default:
                                document.getElementById("lbl_sync").textContent = "Erreur. Synchronisation annulée.";
                                document.getElementById("spinner_sync").style.display = "none";
                                document.getElementById("lbl_sync").style.color = "red";
                    }
                }

            })
            setTimeout(function(){
                timeout1 = true;
                if(timeout2==true){
                    document.getElementById("lbl_sync").textContent = "Synchronisation terminée.";
                        document.getElementById("lbl_sync").style.color = "green";
                        document.getElementById("spinner_sync").style.display = "none";
                        document.getElementById("sync_valid").style.display = "inline";
                }
            }, 2000); 
        });
    
</script>
{% endblock %}
