{% extends 'administration/layout_admin.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Categories{% endblock %}

{% block specification %}
   Modifier une catégorie
{% endblock %}

{% block body %}

{{ form_start(form) }}
    <p><strong>Modifier une catégorie : </strong></p>
    <div class="container-fluid">
        {% include('administration/category/addCategoryForm.html.twig')  with {'label_submit': 'Modifier la catégorie'} %}
    </div>


{% endblock %}
