{% extends 'administration/layout_admin.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Modifier la categorie{% endblock %}

{% block body %}

    <div class="text-right mb-4">
        <a href="{{ path('admin_categories') }}" class="btn btn-warning">Retour</a>
    </div>

    {{ form_start(form) }}
    <p><strong>Modifier une catégorie : </strong></p>
    <div class="container-fluid">
        {% include('administration/category/addCategoryForm.html.twig')  with {'label_submit': 'Modifier la catégorie'} %}
    </div>


{% endblock %}
