
{% extends 'administration/layout_admin.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Categories{% endblock %}

{% block specification %}
    Ajouter une catégorie
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <h6> ADMINISTRATION </h6>


    {{ form_widget(form) }}
    <button class="btn btn-primary">Enregistrer</button>
    {{ form_end(form) }}


{% endblock %}
