{% extends 'administration/base.html.twig' %}

{% block title %}Adherents{% endblock %}

{% block specification %}
    Gestion des évènements
{% endblock %}

{% block body %}
    <div>OK</div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('event') }}
{% endblock %}