<div id="modal-add-job" class="modal modal-top fade calendar-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form id="jobForm" action="{{ path('job_add') }}" method="post">
                <div class="modal-body">
                    <h4>Ajouter un poste</h4>
                    <div id="errorAddJob">

                    </div>
                    <div>
                        <label>Nom du poste : </label>
                        <input id="jobName" class="form-control mr-1" type="text" name="jobName">
                    </div>

                </div>
                <div class="modal-footer">
                    <input class="btn btn-success" type="submit" value="ajouter">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>