{% extends 'administration/layout_admin.html.twig' %}

{% block title %}Adherents{% endblock %}

{% block specification %}
    Gestion des évènements
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="form-group pb-3">
            <div class="container-fluid ml-3 pt-2 pb-2">
                {% include('administration/events/addEventForm.html.twig') %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('event') }}
    {{ encore_entry_script_tags('datetime') }}
{% endblock %}